body {
	margin:0;
	background-color: #DFDED4;
	width: 100%;
    font-family: sans-serif;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.header {
	position: relative;
	height: 12%;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #93B1C6;
}

.logo {
	position: relative;
	height: 100%;
	left: 1%;
}

.nupic {
	position: relative;
	height: 100%;
	float: right;
}

.login{
	position: relative;
	width:50%;
	float:left;
}

.newsFeed{
	position: relative;
	width:50%;
	float:right;
}

.announcements{
	position:relative;
	height:15%;
	width:75%;
	margin-right:25%;
	margin-top:10%;
	background: #CDCAB9;
	font-size: 150%;
	text-indent: 10px;
	color: #432F21;
}

.news{
	position:relative;
	height:15%;
	width:75%;
	margin-right:25%;
	margin-top:10%;
	font-size: 150%;
	text-indent: 10px;
	background: #CDCAB9;
	color: #432F21;
}

.loginButton{
	position:relative;
	height:15%;
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:10%;
	/*text*/
	font-size: 200%;

	background: #452f62;

	color: white;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid;
	border-radius: 15px;
}


.loginButton:hover{
	opacity: 0.8;
}

.registerButton{
	position:relative;
	height:15%;
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:10%;
	/*text*/
	font-size: 200%;

	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
	/*border-color: #1486f9 #0f7de9 #0d6acf;*/
	background: #313136;

	border: 1px solid;
	border-radius: 15px;
	color: white;
	/*box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);*/

}

.registerButton:hover{
	opacity: 0.8;
}

#studentButton, #instructorButton{
	position:relative;
	height:30%;
	width: 50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:10%;

	}

#loginForm{
}

