input {
	margin-top: 5px;
	margin-left: 10%;
	font-size: 18;
	width: 60%;
	height: 50%;
}

select {
	margin-top: 5px;
	margin-left: 10%;
	width: 60%;
	font-size: 18;
}

.fields {
	font-size: 12px;
}

.formContainer {
	position: relative;
	width: 60%;
}

.inputNames {
	position: absolute;
	top: 1%;
	width: 30%;
	height: 100%;
}

.inputItems {
	position: relative;
	left: 30%;
	width: 70%;
	height: 100%;
}

.itemContainer {
	position: relative;
	width: 100%;
	height: 10%;
}

p.name {
	margin-top: 0px;
	font-size: 24;
	text-align: right;
}

.addCourses {
	position: relative;
	margin-left: 10%;
	float: left;
	margin-top: 5px;
	font-size: 18px;
}
.departments {
	margin-left: 6%;

}

#selCourse
{
	margin-left:6%;
}

#modal { 
	display: none;
	height:100%;

}
#close { background: #CCC; color: #333; font-weight: bold; padding: 5px 10px; border: none; }
#close:hover { background: #aaa; }
#done { background: #CCC; color: #333; font-weight: bold; padding: 10px 25px; border: none; }
#done:hover { background: #aaa; }
.courseBox {
	position: relative;
	margin-left:15%;
	margin-right:19%;
	background-color: #CDCAB9;
	width: 60%;
	height: 40%;
	overflow-y: scroll;
	text-align: left;
}
.addCourseButton {
	position: relative;
	margin-left:21%;
}
.submitButton {
	position: relative;
	margin-top: 5px;
	margin-left: 10%;
	left: 15%;

	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #57d6c7;
	font-weight: bold;
	text-shadow: 1px 1px #57D6C7;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
.cancelButton {
	margin-top: 5px;
	margin-left: 10%;
	float: left;

    padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #ff6961;
	font-weight: bold;
	text-shadow: 1px 1px #ff6961;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ff6961;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;	
}