
.title {
	text-indent: 20px;
}
.leftForm {
	position: relative;
	left: 20px;
	width: 50%
}
.rightForm {
	position: relative;
	left: 10px;
	width: 50%
}

.logOut{
    position: relative;
    width: 20%;
    float: right;
}