/*.topButtonRow{
	display:block;
	position: relative;
	width:100%;
	top: 1%;
	height:10%;
}*/

button{
	height:90%;
}


.myProfile{
	width:25%;
	float:right;
	margin-right: 10%;
}

.mainSection{
	position: relative;
	top: 2%;
	height:75%;
	width: 100%;
	font-size: 20px;
	color: #432F21;
	font-weight: bold;
}



.departments{
	position: relative;
	width:100%;
}

.courseBox{
	position:relative;
	height: 77%;
	width:40%;
	float: left;
	left:10%;
	/*border:2px solid black;*/
}

.coursesHome{
	color:orange;
	font-weight: bold;
}

.rightSection{
	position: relative;
	height: 77%;
	width:30%;
	float: right;
	right:10%;

	/*border:2px solid black;*/
}

.favorite{
	height:50%;
}


.notification{
	position: relative;
	width:100%;
	float:right;
	height: 50%;
}

#notificationList{
	position: absolute;
	top: 100%;
	background: #CDCAB9;
	border: 1px solid;
	visibility: hidden;
}


.notificationWrapper{
	position: relative;
	float: right;
	width: 20%;
	margin-right: 1%;
	}

.coursesHomeOdd{
	background: #CDCAB9;
	color:#432F21;
	font-weight: normal;
}

.coursesHomeEven{
	color: #432F21;
	font-weight: normal;
}

.logOut{	
    position: relative;
    width: 10%;
    float: right;
    color:  #FFE1B9;
    text-align: right;
    margin-right: 1%;

}


.logOutText:hover{
    font-weight: bold;
}

.profile:hover{
	font-weight: bold;
}


.nameCourse{

	float:left;

}

.instructorCourse{
	float:left;
	margin-left: 10%;
}

.timeCourse{
	text-align: right;
}

#detailForm{
	visibility: hidden;
}


.applicationForm{
	visibility: hidden;
}

.personalText{
	position: relative;
	height: 30%;
	width: 80%;
	float: left;
}