.topButtonRow{
	position: absolute;
	width:100%;
	height:10%;
	top:60;
}

button{
	height:90%;
}

.notification{
	width:20em;
}

.myProfile{
	width:20em;
	margin-left:40%;
}

.mainSection{
	height:80%;
}