input {
	width:20%;
}
.title {
	text-indent: 20px;
}
.forms {
	position: relative;
	font-size: 100%;
	width: 50%;
}

.left {
    width: 35%;
    float: left;
    text-align: right;
}
.right {
    width: 60%;
    margin-left: 10px;
    float:left;
}
.submit {
	height: 5%;
	width: 20%
}
.return{
	vertical-align: bottom;
	margin-left: 10px;
}