input {
	margin-top: 5px;
	margin-left: 10%;
	font-size: 18;
	width: 60%;
	height: 50%;
}

select {
	margin-top: 5px;
	margin-left: 10%;
	width: 60%;
	font-size: 18;
}

button {
	position: relative;
	margin-top: 5px;
	margin-left: 10%;
	left: 20%;
}

.title {
	text-indent: 20px;
}

.formContainer {
	position: relative;
	width: 60%;
	overflow: hidden;
}

.inputNames {
	position: absolute;
	width: 30%;
	height: 100%;
}

.inputItems {
	position: relative;
	left: 30%;
	width: 70%;
	height: 100%;
}

.itemContainer {
	position: relative;
	width: 100%;
	height: 10%;
}

p.name {
	margin-top: 0px;
	font-size: 24;
	text-align: right;
}

.fsSubmitButton {
	padding: 10px 15px 11px !important;
	font-size: 18px !important;
	background-color: #57d6c7;
	font-weight: bold;
	text-shadow: 1px 1px #57D6C7;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #57D6C7;
	cursor: pointer;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.fsCancelButton {
	border-top:	2px solid #a3ceda;
	border-left: 2px solid #a3ceda;
	border-right: 2px solid #4f6267;
	border-bottom: 2px solid #4f6267;
	padding: 10px 20px !important;
	font-size: 14px !important;
	background-color: #c4f1fe;
	font-weight: bold;
	color: #2d525d;
}

/*.left {
    width: 35%;
    float: left;
    text-align: right;
}

.right {
    width: 60%;
    margin-left: 10px;
    float:right;
}*/

/*.submit {
	height: 5%;
	width: 20%
}

.return{
	vertical-align: bottom;
	margin-left: 10px;
}*/